---
import type { Page } from '../types/config';

interface Props {
  page: Page;
  classes?: string;
}

const { page, classes="bg-base-200" } = Astro.props;
---

<html lang="en" data-theme="garden">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{page.title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={page.description} />
  <meta name="keywords" content={page.keywords} />
</head>
<body class="min-h-screen" class:list={classes}>
  <slot />
</body>
</html>